# Logs, temp and binary files.
*.log
*.RData
*.Rhistory
*.Rprofile
*.Rproj
*.Rproj.user/
*.tmp
*.gz
*.zip
*.tar
*.fq
*.fastq
*.fastq.gz
*.bam
*.sam
*.bai
*.docx
*.xlsx
*.lock
*.Rproj.user
*.pyc

# Folders
benchmarks/
logs/
data/
notebooks/
references/
reports/
results/
.snakemake/
test_runs/
scripts_extras/crispr_hunt_data_preprocessing/sgRNA_library/brunello/raw/
scripts_extras/crispr_hunt_data_preprocessing/renv/
workflow/resources/genomes/
workflow/resources/network_files/STRING/raw/
workflow/utils/__pycache__/
